.color-block
    &_color_green
        fill: #38C695
        color: #38C695
    &_color_purple
        fill: #B27CF5
        color: #B27CF5
    &_color_red
        fill: #FC5F45
        color: #FC5F45
    &_color_orange
        fill: #FEB960
        color: #FEB960
    &_background_green
        background: #38C695
    &_background_purple
        background: #b27cf5
    &_background_red
        background: #FC5F45
    &_background_orange
        background: #FEB960
    &_width_25
        width: 25%
        height: 3px
    &_width_100
        width: 100%
        height: 3px
