nav.nav
                div.nav__title Alexis
                ul.nav__list
                    li
                        <svg class='nav__icon svg' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 352 352" style="enable-background:new 0 0 352 352;" xml:space="preserve"><g><g><path class='svg__path' style="fill:#222222;" d="M0,56v48h48V56H0z M80,56v48h224V56H80z M0,152v48h48v-48H0z M80,152v48h160v-48H80z M0,248v48h48	v-48H0z M80,248v48h272v-48H80z"/></g></svg>
                    li.nav__item About Us
                    li.nav__item Our Focus
                    li.nav__item Portfolio
                    li.nav__item Our Team
                    li.nav__item Work Steps
                    li.nav__item Pricing
                    li.nav__item Testimonials
                    li.nav__item Blog
                    li.nav__item Contact