nav.nav.header__nav
            div.nav__wrapper
                div.nav__title Alexis
                ul.nav__list
                    li.nav__item About Us
                    li.nav__item Our Focus
                    li.nav__item Portfolio
                    li.nav__item Our Team
                    li.nav__item Work Steps
                    li.nav__item Pricing
                    li.nav__item Testimonials
                    li.nav__item Blog
                    li.nav__item Contact