.nav
    padding: 14px 0 28px 0
    display: flex
    justify-content: center
    max-height: 1140px
    &__wrapper
        margin: 0 10px
        width: 1140px
        display: flex
        justify-content: space-between
        align-items: center
    &__title
        font-size: 35px
        font-family: "Wisdom Script Regular"
        color: #616161
        &::first-letter
            color: rgb(252, 95, 69)

    &__list
        list-style-type: none
        font-family: 'Poppins',sans-serif
        font-weight: 500
        margin: 12px 0 0px 0

    &__item
        display: inline-block
        margin: 0 0 0 20px
        color: #272727
        &:first-child
            margin: 0
