nav.nav
    .nav__wrapper
                div.nav__title Alexis
                ul.nav__list
                    li
                        <svg class='nav__icon svg' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 352 352" style="enable-background:new 0 0 352 352;" xml:space="preserve"><g><g><path class='svg__path' style="fill:#222222;" d="M0,56v48h48V56H0z M80,56v48h224V56H80z M0,152v48h48v-48H0z M80,152v48h160v-48H80z M0,248v48h48	v-48H0z M80,248v48h272v-48H80z"/></g></svg>
                    li.nav__item 
                        a(href="#about-us").nav__link About Us
                    li.nav__item 
                        a(href="#our-focus").nav__link Our Focus
                    li.nav__item 
                        a(href="#portfolio").nav__link Portfolio
                    li.nav__item 
                        a(href="#our-team").nav__link Our Team
                    li.nav__item 
                        a(href="#work-steps").nav__link Work Steps
                    li.nav__item 
                        a(href="#pricing").nav__link Pricing
                    li.nav__item 
                        a(href="#testimonials").nav__link Testimonials
                    li.nav__item 
                        a(href="#blog").nav__link Blog
                    li.nav__item 
                        a(href="#contact").nav__link Contact