include ../card/card
.portfolio 
            .portfolio__cards
                .portfolio__wrapper 
                    +card('img/Single Item.png','some project')
                    +card('img/item 2.png','some project')
                    +card('img/item 3.png','some project')
                    +card('img/portfolio itema 0.png','some project')
                    +card('img/portfolio itema.png','some project')
                    +card('img/portfolio itema 2.png','some project')
                    +card('img/portfolio itema 3.png','some project')
                    +card('img/portfolio itema 5.png','some project')
                    +card('img/portfolio itema 6.png','some project')