.portfolio
    z-index: 10
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__cards
        z-index: 10
        width: 100%
        display: flex
        justify-content: center
    &__wrapper
        z-index: 10
        margin: -10px 0
        width: 1140px
        display: flex
        flex-wrap: wrap
        justify-content: space-around
