extends ../blocks/common/layout

block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav
        include ..\blocks\about-company\about-company
        .about-us 
            .about-us__wrapper
                .about-us__inner
                    img(src="", alt="about us").about-us__img
                .about-us__inner.about-us__inner_align_left
                    .about-us__container
                        .about-us__row