extends ../blocks/common/layout
include ../blocks/common-block/common-block
include ../blocks/common-container/common-container
include ../blocks/pricing-card/pricing-card
include ../blocks/testimonial-block/testimonial-block
include ../blocks/why-select-us/why-select-us
include ../blocks/our-blog/our-blog


block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav
        include ..\blocks\about-company\about-company

    include ..\blocks\about-us\about-us

    +common-block('02','Our Focus.','We understand your requirement and provide quality works.','gray')
        include ..\blocks\our-focus\our-focus

    include ..\blocks\video\video

    +common-block('03','Portfolio.','We understand your requirement and provide quality works.')
        include ..\blocks\portfolio\portfolio

    +common-block('04','Our Team.','We understand your requirement and provide quality works.','gray')
        include ..\blocks\our-team\our-team

    include ..\blocks\about-company-second\about-company-second.pug

    +common-block('05','Work Steps.','We understand your requirement and provide quality works.','true')
        +common-container('01','Project Understanding','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','red','img/image.png')
        +common-container_align_right('02','Research & Planning','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','green','img/image2.png')
        +common-container('03','Wireframe & Design','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','red','img/imag3.png')
        +common-container_align_right('04','Development','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','green','img/image4.png')

    +common-block('06','Pricing Table.','We understand your requirement and provide quality works.','gray')
        .pricing-table
            +pricing-card('green','Starter','125','200GB','20','2TB','&#10004','&#10004','&#10004')
            +pricing-card('red','Ultimate','195','800GB','Unlimited','10TB','&#10004','&#10004','&#10004')
            +pricing-card('purple','Professional','145','200GB','20','2TB','&#10004','&#10004','&#10004')


    +common-block('07','Testimonials.','We understand your requirement and provide quality works.','black')
            .testimonials
                .testimonials__row 
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                    .testimonials__wrapper
                        +testimonial('img/image9.png','text Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.','Melina','Melina Albrecht','Founder, TingTong')
                .testimonials__nav
                        ul.testimonials__list
                            li.testimonials__item.testimonials__item_active 
                            li.testimonials__item
                            li.testimonials__item
                            li.testimonials__item
                            li.testimonials__item
                            li.testimonials__item

    +common-block('08','Why Select Us?','We understand your requirement and provide quality works.')
        .why-select-us
            +why-select-us__elem('Business <br> Growth','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="49px"><path fill-rule="evenodd"  fill="rgb(252, 95, 69)" d="M48.261,0.008 L48.261,48.047 L0.257,48.047 L0.257,0.008 L48.261,0.008 ZM2.247,1.999 L2.247,39.376 L8.101,32.580 L14.072,36.564 L24.024,22.503 L33.040,29.651 L46.270,10.669 L46.270,1.999 L2.247,1.999 ZM46.270,46.054 L46.270,14.185 L33.508,32.580 L24.493,25.433 L14.541,39.259 L8.452,35.275 L2.247,42.422 L2.247,46.054 L46.270,46.054 Z"/></svg>
            +why-select-us__elem('Unlimited <br> Revisions','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="49px"><path fill-rule="evenodd"  fill="rgb(56, 198, 149)" d="M45.043,8.268 C44.301,9.167 43.347,9.733 42.177,9.967 L42.177,44.063 L40.189,44.063 L40.189,9.967 C39.020,9.733 38.064,9.147 37.324,8.209 C36.582,7.272 36.213,6.217 36.213,5.046 C36.213,3.640 36.699,2.450 37.675,1.472 C38.649,0.496 39.838,0.008 41.242,0.008 C42.566,0.008 43.716,0.496 44.692,1.472 C45.666,2.450 46.154,3.640 46.154,5.046 C46.154,6.296 45.783,7.371 45.043,8.268 ZM43.288,7.213 C43.873,6.627 44.165,5.906 44.165,5.046 C44.165,4.187 43.873,3.464 43.288,2.878 C42.704,2.292 42.020,1.999 41.242,1.999 C40.383,1.999 39.663,2.292 39.078,2.878 C38.493,3.464 38.201,4.187 38.201,5.046 C38.201,5.906 38.493,6.627 39.078,7.213 C39.663,7.799 40.383,8.092 41.242,8.092 C42.020,8.092 42.704,7.799 43.288,7.213 ZM9.138,39.844 C9.878,40.782 10.249,41.836 10.249,43.008 C10.249,44.414 9.761,45.606 8.787,46.582 C7.811,47.560 6.623,48.047 5.220,48.047 C3.893,48.047 2.744,47.560 1.770,46.582 C0.794,45.606 0.308,44.414 0.308,43.008 C0.308,41.760 0.677,40.685 1.419,39.786 C2.159,38.889 3.115,38.322 4.284,38.087 L4.284,3.991 L6.272,3.991 L6.272,38.087 C7.442,38.322 8.396,38.907 9.138,39.844 ZM7.384,45.176 C7.968,44.590 8.261,43.869 8.261,43.008 C8.261,42.150 7.968,41.426 7.384,40.840 C6.799,40.255 6.077,39.962 5.220,39.962 C4.440,39.962 3.758,40.255 3.173,40.840 C2.589,41.426 2.296,42.150 2.296,43.008 C2.296,43.869 2.589,44.590 3.173,45.176 C3.758,45.762 4.440,46.054 5.220,46.054 C6.077,46.054 6.799,45.762 7.384,45.176 ZM27.149,20.863 C27.889,21.801 28.260,22.855 28.260,24.027 C28.260,25.199 27.889,26.253 27.149,27.190 C26.407,28.128 25.453,28.714 24.283,28.948 L24.283,44.063 L22.178,44.063 L22.178,28.948 C21.009,28.714 20.053,28.128 19.313,27.190 C18.571,26.253 18.202,25.199 18.202,24.027 C18.202,22.855 18.571,21.801 19.313,20.863 C20.053,19.926 21.009,19.340 22.178,19.105 L22.178,3.991 L24.283,3.991 L24.283,19.105 C25.453,19.340 26.407,19.926 27.149,20.863 ZM26.272,24.027 C26.272,23.247 25.959,22.544 25.336,21.918 C24.711,21.293 24.009,20.981 23.231,20.981 C22.451,20.981 21.749,21.293 21.126,21.918 C20.501,22.544 20.190,23.247 20.190,24.027 C20.190,24.809 20.501,25.511 21.126,26.136 C21.749,26.762 22.451,27.073 23.231,27.073 C24.009,27.073 24.711,26.762 25.336,26.136 C25.959,25.511 26.272,24.809 26.272,24.027 Z"/></svg>
            +why-select-us__elem('Ultimate <br> Perfection','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="49px"><path fill-rule="evenodd"  fill="rgb(178, 124, 245)" d="M0.257,28.010 L20.280,28.010 L20.280,48.047 L0.257,48.047 L0.257,28.010 ZM2.247,46.054 L18.289,46.054 L18.289,30.003 L2.247,30.003 L2.247,46.054 ZM38.195,11.490 L23.558,26.253 L22.153,24.847 L36.907,10.084 L24.261,10.084 L24.261,8.092 L40.186,8.092 L40.186,24.027 L38.195,24.027 L38.195,11.490 ZM48.265,0.008 L48.265,48.047 L24.261,48.047 L24.261,46.054 L46.275,46.054 L46.275,1.999 L2.247,1.999 L2.247,24.027 L0.257,24.027 L0.257,0.008 L48.265,0.008 Z"/></svg>
            +why-select-us__elem('Smart <br> Experience','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53px" height="47px"><path fill-rule="evenodd"  fill="rgb(254, 185, 96)" d="M27.312,35.940 L27.312,39.797 L36.679,45.057 L35.742,46.810 L26.259,41.550 L16.775,46.810 L15.838,45.057 L25.205,39.797 L25.205,35.940 L0.266,35.940 L0.266,0.057 L52.251,0.057 L52.251,35.940 L27.312,35.940 ZM2.257,33.953 L50.260,33.953 L50.260,2.044 L2.257,2.044 L2.257,33.953 ZM29.303,7.771 L31.176,8.356 L25.673,26.823 L19.234,17.940 L15.019,26.239 L9.399,14.784 L6.237,26.472 L4.247,26.005 L8.813,9.290 L15.019,21.797 L18.999,14.082 L24.971,22.382 L29.303,7.771 ZM44.523,13.732 C45.694,14.901 46.280,16.344 46.280,18.057 C46.280,19.693 45.694,21.095 44.523,22.264 C43.353,23.433 41.907,24.018 40.191,24.018 C38.552,24.018 37.147,23.433 35.976,22.264 C34.806,21.095 34.220,19.693 34.220,18.057 C34.220,16.344 34.806,14.901 35.976,13.732 C37.147,12.563 38.552,11.979 40.191,11.979 C41.907,11.979 43.353,12.563 44.523,13.732 ZM43.060,20.862 C43.880,20.084 44.289,19.149 44.289,18.057 C44.289,16.966 43.880,16.032 43.060,15.251 C42.240,14.474 41.284,14.082 40.191,14.082 C39.097,14.082 38.161,14.474 37.381,15.251 C36.600,16.032 36.211,16.966 36.211,18.057 C36.211,19.149 36.620,20.084 37.440,20.862 C38.260,21.642 39.176,22.031 40.191,22.031 C41.284,22.031 42.240,21.642 43.060,20.862 Z"/></svg>
            +why-select-us__elem('Strict <br> Deadline','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49px" height="49px"><path fill-rule="evenodd"  fill="rgb(252, 95, 69)" d="M48.206,0.472 L48.206,48.395 L0.255,48.395 L0.255,0.472 L48.206,0.472 ZM2.243,2.460 L2.243,11.459 L46.218,11.459 L46.218,2.460 L2.243,2.460 ZM46.218,46.407 L46.218,13.446 L2.243,13.446 L2.243,46.407 L46.218,46.407 ZM15.225,8.537 L18.266,8.537 L18.266,5.498 L15.225,5.498 L15.225,8.537 ZM30.195,8.537 L33.236,8.537 L33.236,5.498 L30.195,5.498 L30.195,8.537 ZM17.448,20.226 L19.202,20.226 L19.202,35.888 L17.097,35.888 L17.097,24.784 L13.237,24.784 L13.237,23.147 L13.588,23.147 C14.600,23.071 15.284,23.012 15.635,22.972 C15.986,22.934 16.355,22.720 16.746,22.330 C17.135,21.941 17.369,21.356 17.448,20.576 L17.448,20.226 ZM33.061,26.771 C34.035,27.785 34.523,29.108 34.523,30.745 C34.523,32.305 33.976,33.608 32.885,34.661 C31.793,35.713 30.506,36.238 29.026,36.238 C27.465,36.238 26.199,35.771 25.225,34.836 C24.249,33.900 23.763,32.694 23.763,31.212 L23.763,30.862 L25.868,30.862 L25.868,31.212 C25.868,32.148 26.179,32.908 26.804,33.492 C27.427,34.077 28.207,34.369 29.143,34.369 C30.155,34.369 30.956,33.999 31.540,33.258 C32.125,32.519 32.418,31.642 32.418,30.628 C32.418,29.617 32.105,28.779 31.482,28.116 C30.857,27.454 30.038,27.122 29.026,27.122 C27.699,27.122 26.687,27.668 25.985,28.758 L25.868,28.875 L24.114,28.875 L25.751,20.459 L33.821,20.459 L33.821,22.447 L27.272,22.447 L26.570,26.070 C27.348,25.525 28.207,25.251 29.143,25.251 C30.780,25.251 32.085,25.759 33.061,26.771 Z"/></svg>
            +why-select-us__elem('Award-winning <br> Company','Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.')
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="56px"><path fill-rule="evenodd"  fill="rgb(56, 198, 149)" d="M33.132,28.843 C34.927,31.688 35.825,34.823 35.825,38.252 C35.825,43.084 34.087,47.233 30.614,50.699 C27.140,54.168 22.983,55.901 18.144,55.901 C13.303,55.901 9.146,54.168 5.673,50.699 C2.199,47.233 0.463,43.084 0.463,38.252 C0.463,34.823 1.359,31.688 3.156,28.843 C4.951,25.999 7.331,23.875 10.299,22.472 C7.020,14.603 5.381,9.966 5.381,8.564 L5.381,0.966 L30.907,0.966 L30.907,8.564 C30.907,9.655 29.268,14.290 25.989,22.472 C28.955,23.875 31.335,25.999 33.132,28.843 ZM12.055,21.654 C14.084,20.953 16.113,20.602 18.144,20.602 C20.252,20.602 22.242,20.953 24.116,21.654 C27.316,14.173 28.917,9.811 28.917,8.564 L28.917,2.953 L19.081,2.953 L19.081,16.394 L17.090,16.394 L17.090,2.953 L7.371,2.953 L7.371,8.564 C7.371,9.577 8.932,13.940 12.055,21.654 L12.055,21.654 ZM33.834,38.252 C33.834,33.888 32.292,30.187 29.209,27.147 C26.125,24.109 22.436,22.589 18.144,22.589 C13.850,22.589 10.161,24.109 7.078,27.147 C3.994,30.187 2.453,33.888 2.453,38.252 C2.453,42.616 3.994,46.317 7.078,49.355 C10.161,52.395 13.850,53.914 18.144,53.914 C22.436,53.914 26.125,52.395 29.209,49.355 C32.292,46.317 33.834,42.616 33.834,38.252 ZM29.970,38.252 C29.970,41.525 28.818,44.311 26.516,46.609 C24.213,48.908 21.423,50.057 18.144,50.057 C14.865,50.057 12.073,48.908 9.772,46.609 C7.468,44.311 6.317,41.525 6.317,38.252 C6.317,34.979 7.468,32.194 9.772,29.895 C12.073,27.597 14.865,26.447 18.144,26.447 C21.423,26.447 24.213,27.597 26.516,29.895 C28.818,32.194 29.970,34.979 29.970,38.252 ZM27.980,38.252 C27.980,35.603 27.023,33.304 25.111,31.356 C23.197,29.409 20.875,28.433 18.144,28.433 C15.410,28.433 13.089,29.409 11.177,31.356 C9.263,33.304 8.308,35.603 8.308,38.252 C8.308,40.901 9.263,43.201 11.177,45.148 C13.089,47.097 15.410,48.070 18.144,48.070 C20.875,48.070 23.197,47.097 25.111,45.148 C27.023,43.201 27.980,40.901 27.980,38.252 Z"/></svg>
            .why-select-us__wrapper
                span.why-select-us__text Start your journy with us now     
                button.why-select-us__btn GET STARTED

    +common-block('09','Our Blog.','We understand your requirement and provide quality works.','gray')
        .our-blog 
            +our-blog__article_size_big('DAMIAN SCHREIBER','December 10, 2015','Google Street View adds virtual reality support','Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm','red','img/image10')
            +our-blog__article('DAMIAN SCHREIBER','December 10, 2015','Google Street View adds virtual reality support','Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm','green')
            +our-blog__article('DAMIAN SCHREIBER','December 10, 2015','Google Street View adds virtual reality support','Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm','purple')
            +our-blog__article('DAMIAN SCHREIBER','December 10, 2015','Google Street View adds virtual reality support','Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm','orange') 
    
    .subscribe-form
        .subscribe-form__text Subscribe to Newsletter
        form(action="").subscribe-form__wrapper 
            input(type="e-mail" placeholder='Enter your email').subscribe-form__input
            button.subscribe-form__btn SUBSCRIBE NOW

    +common-block('10','Get in Touch.','We understand your requirement and provide quality works.','black-gray')
        form(action="").get-in-touch
            input(type="text").get-in-touch__input 
            input(type="text").get-in-touch__input
            input(type="text").get-in-touch__input
            input(type="text").get-in-touch__input
            textarea.get-in-touch__textarea