extends ../blocks/common/layout

block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav
        include ..\blocks\about-company\about-company
    include ..\blocks\about-us\about-us
    include ..\blocks\our-focus\our-focus

