extends ../blocks/common/layout

block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav.pug

