extends ../blocks/common/layout
include ../blocks/common-block/common-block
include ../blocks/common-container/common-container

block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav
        include ..\blocks\about-company\about-company

    include ..\blocks\about-us\about-us

    +common-block_color_gray('02','Our Focus.','We understand your requirement and provide quality works.')
        include ..\blocks\our-focus\our-focus

    include ..\blocks\video\video

    +common-block('03','Portfolio.','We understand your requirement and provide quality works.')
        include ..\blocks\portfolio\portfolio

    +common-block_color_gray('04','Our Team.','We understand your requirement and provide quality works.')
        include ..\blocks\our-team\our-team

    include ..\blocks\about-company-second\about-company-second.pug

    +common-block('05','Work Steps.','We understand your requirement and provide quality works.','true')
        +common-container('01','Project Understanding','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','red','img/blocks/work steps/image.png')
        +common-container_align_right('02','Research & Planning','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','green','img/blocks/work steps/image2.png')
        +common-container('03','Wireframe & Design','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','red','img/blocks/work steps/image3.png')
        +common-container_align_right('04','Development','Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.','green','img/blocks/work steps/image4.png')