extends ../blocks/common/layout
include ../blocks/common-block/common-block

block head 
    link(rel="stylesheet" type="text/css" href="fonts.css")
    title First git project

block content
    header.header
        include ..\blocks\nav\nav
        include ..\blocks\about-company\about-company

    include ..\blocks\about-us\about-us

    +common-block_color_gray('02','Our Focus.','We understand your requirement and provide quality works.')
        include ..\blocks\our-focus\our-focus

    include ..\blocks\video\video

    +common-block('03','Portfolio.','We understand your requirement and provide quality works.')
        include ..\blocks\portfolio\portfolio

    +common-block_color_gray('04','Our Team.','We understand your requirement and provide quality works.')
        include ..\blocks\our-team\our-team

    include ..\blocks\about-company-second\about-company-second.pug





