mixin testimonial(src,text,firstName,fullName,position)
    .testimonial
                        .testimonial__wrapper
                            img(src=''+src alt='img').testimonial__img
                            .testimonial__inner
                                .testimonial__background 
                                    .testimonial__bg-col
                                        .testimonial__bg-sumbol “
                                    .testimonial__bg-col.testimonial__bg-col_align_bottom
                                        .testimonial__bg-sumbol ”
                                .testimonial__text= text
                                .testimonial__first-name= firstName
                                .testimonial__full-name= fullName
                                .testimonial__position= position
                                .color-block.color-block_background_red.color-block_width_100