<svg class='video__btn-pause' width="80px" height="80px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" fill='#38C695' fill-rule="evenodd">
        <g id="Pause" fill='#38C695'>
            <path d="M29.6,3.3 C43.9,3.3 55.6,15 55.6,29.3 C55.6,43.6 43.9,55.3 29.6,55.3 C15.3,55.3 3.6,43.6 3.6,29.3 C3.6,15 15.3,3.3 29.6,3.3 L29.6,3.3 Z M29.6,0.3 C13.6,0.3 0.6,13.3 0.6,29.3 C0.6,45.3 13.6,58.3 29.6,58.3 C45.6,58.3 58.6,45.3 58.6,29.3 C58.6,13.2 45.7,0.3 29.6,0.3 L29.6,0.3 Z"></path>
            <rect x="21.3" y="18.1" width="3" height="22.3"></rect>
            <rect x="34.3" y="18.1" width="3" height="22.3"></rect>
        </g>
    </g>
</svg>