.video
    video(src="https://mazwai.com/videvo_files/video/free/2016-10/small_watermarked/161021_04_CoffeeShop_RecordPlayer_1080p_preview.webm").video__video
    .video__container
        .video__text Explore Our Awesomeness
        <svg class='video__btn-play' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px"><path fill-rule="evenodd"  fill="rgb(56, 198, 149)" d="M34.687,25.312 L52.500,39.062 L52.500,40.937 L34.687,54.687 L32.500,53.750 L32.500,26.250 L34.687,25.312 ZM35.000,51.249 L49.219,39.999 L35.000,28.749 L35.000,51.249 ZM80.000,39.999 C80.000,51.042 76.094,60.468 68.281,68.281 C60.469,76.093 51.040,80.000 40.000,80.000 C28.957,80.000 19.531,76.093 11.719,68.281 C3.906,60.468 -0.000,51.042 -0.000,39.999 C-0.000,28.960 3.906,19.531 11.719,11.719 C19.531,3.906 28.957,-0.000 40.000,-0.000 C51.040,-0.000 60.469,3.906 68.281,11.719 C76.094,19.531 80.000,28.960 80.000,39.999 ZM77.500,39.999 C77.500,29.792 73.852,20.937 66.562,13.437 C59.062,6.147 50.207,2.500 40.000,2.500 C29.790,2.500 20.937,6.147 13.437,13.437 C6.145,20.937 2.500,29.792 2.500,39.999 C2.500,50.210 6.145,59.062 13.437,66.562 C20.937,73.854 29.790,77.500 40.000,77.500 C50.207,77.500 59.062,73.854 66.562,66.562 C73.852,59.062 77.500,50.210 77.500,39.999 Z"/></svg>
        include videoplayerpausebutton_85751
        .video__help Click to play the video