.about-us
    a( name='about-us')
    .about-us__wrapper
        .about-us__inner
            img(src="img/image3.png", alt="about us").about-us__img
        .about-us__inner.about-us__inner_align_left
            .about-us__container
                .num 01
                .title-and-text.about-us__title-and-text
                    h2.title-and-text__title About Us.
                    .title-and-text__text
                        p Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer. 
                        br
                        span Monetization validation success. Seed round channels product management. Customer non-disclosure agreement strategy android growth hacking ramen buyer.
                .about-us__row
                    .color-block.color-block_background_red.color-block_width_25
                    .color-block.color-block_background_green.color-block_width_25
                    .color-block.color-block_background_purple.color-block_width_25
                    .color-block.color-block_background_orange.color-block_width_25