mixin common-block(num,title,text,color)
    .common-block(class='common-block_color_'+color)
        .num.num_position_center(class='num_color_'+color)= num
        .title-and-text.title-and-text_align_center
            h2(class='title-and-text__title_color_'+color).title-and-text__title.title-and-text__title_margin_small= title
            .title-and-text__text(class='title-and-text__text_color_'+color)= text
        .common-block__container
            block